{% extends "medical_app/user_page/receptionist_dashboard/receptionist_dashboard.html" %}
{% load static %}


{% block admin_list_views %}

    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                  <div class="card card-warning">
                    <!--card header-->
                    <div class="card-header">
                      <center><h1 class="card-title"><strong>Create Patient<strong></h1></center>
                      {% comment %} <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </div> {% endcomment %}
                    </div>
                    <!-- /.card-header -->
                    <!--card body-->
                    <div class="card-body table-responsive p-0">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="full-name">Full Name:</label><br>
                            <input type="text" id="full-name" name="full-name"><br>
                            <label for="email">Email:</label><br>
                            <input type="email" id="email" name="email"><br>
                            <label for="mobile_no">Phone Number:</label><br>
                            <input type="tel" id="mobile_no" name="mobile_no"><br>
                            <label for="date_of_birth">Date of Birth:</label><br>
                            <input type="date" id="date_of_birth" name="date_of_birth"><br>
                            <label for="gender">Gender:</label><br>
                            <input type="text" id="gender" name="gender"><br>
                            <label for="address">Address:</label><br>
                            <input type="text" id="address" name="address"><br><br>
                            
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock admin_list_views %}