{% load static %}

<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="sidebar-item"> 
            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'func-view-dashboard' %}" aria-expanded="false"><i class="me-3 far fa-clock fa-fw"
                    aria-hidden="true"></i><span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'patients' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                    aria-hidden="true"></i><span class="hide-menu">Patients</span>
            </a>
        </li>
        {% if user.user_type == "Receptionist" or user.user_type == "Admin" %}
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'appointments' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Patient Appointments</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="#" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Sales Invoice</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="#" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Insurance Records</span>
                </a>
            </li>
        {% elif user.user_type == "Nurse" or user.user_type == "Admin" %}
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'vitals' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Vital Signs</span>
                </a>
            </li>
        {% elif user.user_type == "Practitioner" or user.user_type == "Admin" %}
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="#" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Patient Encounters</span>
                </a>
            </li>
        {% endif %}

        {% if user.user_type == "Admin" %}

            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'receptionists' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Receptionists</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'nurses' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Nurses</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'practitioners' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Practitioners</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'services' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Services</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'departments' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Departments</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'specialities' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Specialities</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'item_groups' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Item Groups</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{% url 'items' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                        aria-hidden="true"></i><span class="hide-menu">Items</span>
                </a>
            </li>
        {% endif %}
        
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'price_lists' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                    aria-hidden="true"></i><span class="hide-menu">Price List</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="{% url 'item_prices' %}" aria-expanded="false"><i class="me-3 fa fa-table"
                    aria-hidden="true"></i><span class="hide-menu">Item Prices</span>
            </a>
        </li>
    </ul>

</nav>